AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_ENDPOINT_URL=https://s3.eu-central-003.backblazeb2.com

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=de_pet_project_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=