# Python
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/

# Environment variables
.env

# PyCharm
.idea/
*.iml

# Mac/Linux
.DS_Store

# dbt
target/
dbt_packages/
logs/

# Airflow
airflow/logs/

# Jupyter
.ipynb_checkpoints/

# OS
Thumbs.db